# Dipendenze
/node_modules

# File di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File di ambiente runtime
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directory di build
/dist
/build
/out

# Cache del compilatore
/.tscache
/.next
.cache
.next

# File di configurazione IDE/editor
/.vscode
/.idea
.idea/
*.sublime-workspace
*.sublime-project

# Sistema operativo
.DS_Store
Thumbs.db

# File di output temporanei
tmp/
temp/
